.navbar_main{
    background: rgb(167, 33, 134);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.menu{
    display: flex;
    margin-right: 40px;

}

.menu a, menu li{
    color: rgb(255, 254, 254);
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.menu a:hover, menu li:hover{
    background-color: rgb(225, 225, 225);
    color: rgb(8, 8, 8);
    font-size: 30px;
}

.logo_imagen:hover{
    width: 85px;
}

.logo_imagen{
    width: 75px;
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagenes{

}

/*EFECTO RISPONSIVE*/

@media screen and (max-width: 900px){


    .menu a, menu li{
        width: 120px;
    }

    .logo_imagen{
        width: 50px;
        margin-left: 40px;
    }

    .imagenes{
        width: 50px;
    }


    .menu{
        margin-right: 25px;
    }

    .menu a, menu li{
        margin-right: 10px;
        width: 120px;
        height: 30px;
        font-size: 13px;
    }

    .logo_imagen:hover{
        width: 60px;
    }

    .menu a:hover, menu li:hover{
        font-size: 20px;
    }
}

@media screen and (max-width: 650px){
    .menu a, menu li{
        width: 100px;
    }

    .logo_imagen{
        width: 40px;
        margin-left: 30px;
    }

    .menu{
        margin-right: 20px;
    }

    .menu a, menu li{
        margin-right: 8px;
        width: 108px;
        height: 20px;
        font-size: 10px;
    }

    .logo_imagen:hover{
        width: 55px;
    }

    .menu a:hover, menu li:hover{
        font-size: 18px;
    }
}
